.gallery-page__content {
    animation: fade-in 1s;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.gallery-page__our-work {
    padding: 102px 0px 0px 0px;
}
@media(max-width: 576px) {
    .gallery-page__our-work {
        padding: 32px 0px 0px 0px;
    }
}